<section id="thumbnails">
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/11.jpg'%>" data-position="left center"></a>
    </article>
</section>

<section>
    <article class="pon">
        <h1 class="fw-bold">Magia del atardecer</h1>
        <p>
            Con un cielo teñido de naranjas y amarillos intensos, el mar tranquilo se convierte en un lienzo para el sol que se despide, mientras formaciones rocosas emergen mágicamente del agua, creando un paisaje cautivador y lleno de serenidad.
        </p>
        <%= link_to "Volver a inicio", root_path %>
    </article>
</section>