<section id="thumbnails">
    <article>
        <a class="thumbnail" href="<%= asset_path 'fulls/08.jpg'%>" data-position="left center"></a>
    </article>
</section>

<section>
    <article class="pon">
        <h1 class="fw-bold">Armonía vintage</h1>
        <p>
            Un primer plano sepia verdoso revela el delicado clavijero de una guitarra eléctrica, donde cada detalle muestra su cuidado y perfección, transportando a un mundo de música y creatividad. 
        </p>
        <%= link_to "Volver a inicio", root_path %>
    </article>
</section>