<div class="container-fluid">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-8">
                <h1>Hola</h1>
                <hr>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
                <p>hola</p>
            </div>

            <div class="col-4">
                <ul>
                    <li>Soy un sample</li>
                    <li>Soy un sample</li>
                    <li>Soy un sample</li>
                    <li>Soy un sample</li>
                    <li>Soy un sample</li>
                </ul>
            </div>
        </div>
    </div>
</div>